# Create train, test and validation dataframes

## No normalization

In [2]:
import datetime
from pathlib import Path

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os
import os.path

In [6]:
# This can be varied to point to different files.
# However, different files have different columns.

# sample data for easy x+y=z
# JUST z=10
CSV_FILE_NAME = "xyz10.csv"

# sample data for easy x+y=z
#CSV_FILE_NAME = "../data/xyz.csv"


os.environ['CSV_FILE_NAME'] = CSV_FILE_NAME

In [7]:
# The current directory will be where this src file is located.
# Which is in the src dir of the project
dirpath = os.getcwd()
print("current directory is : " + dirpath)

current directory is : /Users/davis/progs/Keras-Philosophy/src

In [8]:
root_path = os.path.dirname(dirpath)
print("parent directory is : " + root_path)

parent directory is : /Users/davis/progs/Keras-Philosophy

In [22]:
data_path = root_path + "/data/"
print("data direcotry is: " + data_path)

data direcotry is: /Users/davis/progs/Keras-Philosophy/data/

In [23]:
fqfn = data_path + CSV_FILE_NAME
print("fully qualified csv file name: ", fqfn)

fully qualified csv file name:  /Users/davis/progs/Keras-Philosophy/data/xyz10.csv

In [24]:
logs_path = os.path.join(root_path,"logs")
print("logs directory is : " + logs_path)

logs directory is : /Users/davis/progs/Keras-Philosophy/logs

In [25]:
LOG_DIR_NAME = logs_path
os.environ['LOG_DIR_NAME'] = LOG_DIR_NAME

In [26]:
%%bash
echo ${LOG_DIR_NAME}

/Users/davis/progs/Keras-Philosophy/logs

In [27]:
%%bash
head "../data/${CSV_FILE_NAME}"

z,x,y
10.0,10.0,0.0
10.0,9.0,1.0
10.0,8.0,2.0
10.0,7.0,3.0
10.0,6.0,4.0
10.0,5.0,5.0
10.0,4.0,6.0
10.0,3.0,7.0
10.0,2.0,8.0

In [28]:
%%bash
# this csv file has 9875 lines corresponding to records (plus one header row)
wc -l "../data/${CSV_FILE_NAME}"

      14 ../data/xyz10.csv

# Use generic python to read data into pandas dataframe

In [29]:
raw_dataset = pd.read_csv(fqfn, 
                          header=0,
                          sep=",")


# previously this was a relative dir name
#raw_dataset = pd.read_csv(CSV_FILE_NAME, 
#                          header=0,
#                          sep=",")

dataset = raw_dataset.copy()

In [30]:
dataset.shape
#dataset.head()

(11, 3)

In [31]:
train_ds = dataset.sample(frac=0.7,random_state=3367)
# what's leftover will be split into test and train evenly
leftover_ds = dataset.drop(train_ds.index) 
                       
test_ds = leftover_ds.sample(frac=0.5, random_state=3367)
valid_ds = leftover_ds.drop(test_ds.index)

In [32]:
train_ds

       z     x     y
3   10.0   7.0   3.0
8   10.0   2.0   8.0
7   10.0   3.0   7.0
4   10.0   6.0   4.0
0   10.0  10.0   0.0
10  10.0   0.0  10.0
1   10.0   9.0   1.0
5   10.0   5.0   5.0

In [33]:
test_ds

      z    x    y
2  10.0  8.0  2.0
6  10.0  4.0  6.0

In [34]:
valid_ds

      z    x    y
9  10.0  1.0  9.0

In [35]:
leftover_ds

      z    x    y
2  10.0  8.0  2.0
6  10.0  4.0  6.0
9  10.0  1.0  9.0

# write the normalized datasets to disk

In [36]:
train_ds.to_csv(data_path + "/" + "train.csv", encoding='utf-8', index=False)
test_ds.to_csv(data_path + "/" + "test.csv", encoding="utf-8", index=False)
valid_ds.to_csv(data_path + "/" + "valid.csv", encoding='utf-8', index=False)

In [42]:
# typically only use the train dataset to normalize the data
train_stats_df = train_ds
train_stats = train_stats_df.describe().transpose()
train_stats

   count   mean       std   min    25%   50%    75%   max
z    8.0  10.00  0.000000  10.0  10.00  10.0  10.00  10.0
x    8.0   5.25  3.453776   0.0   2.75   5.5   7.50  10.0
y    8.0   4.75  3.453776   0.0   2.50   4.5   7.25  10.0